# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite

# Directory for video files (unused in production)
public/videos
public
stream

yarn-error.log
dump.rdb